<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <br>
    <div class="container card" id="form-question">
        <h1 style="text-align: center">Bem Vindo ao site VS Perguntas!</h1>
        <h3 style="text-align: center">Perguntas</h3>
        <hr>
        <a href="/toAsk" class="btn btn-primary">Perguntar</a>
        <hr>
        <% question.forEach(question => { %>
            <div class="card" id="list-question">
                <div class="card-body">
                    <h3><%= question.title%></h3>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= question.id%>"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
</body>
<%- include("partials/footer.ejs") %>
